@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Roboto&family=Rubik&family=Saira+Stencil+One&family=Snowburst+One&family=Work+Sans&display=swap");
/* root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* * {
  font-family: "Roboto", sans-serif;
} */
* {
  font-family: "Poppins";
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
.assesment {
  cursor: pointer;
  color: #227fed;
  /* text-decoration: underline; */
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.assesment:hover {
  background-size: 0 2px, 100% 2px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #47507a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #47507a;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* patient info table style */

#patientInfo {
  font-family: "Poppins";
  border-collapse: collapse;
  width: 100%;
}

#patientInfo thead,
#patientInfo tbody,
#patientInfo tbody tr {
  width: 100%;
}

#patientInfo tbody {
  text-align: center;
}

#patientInfo td,
#patientInfo th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 12px;
}

#patientInfo tr:nth-child(even) {
  background-color: #f2f2f2;
}

#patientInfo tr:hover {
  background-color: #ddd;
}

#patientInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #47507a;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}

.react-pdf__Page__textContent {
  display: none;
}
.react-pdf__Page {
  margin-bottom: 50px;
  height: 800px;
}
/* .MuiInputLabel-root {
  font-size: 13px !important;
} */

.react-pdf__Page__canvas {
  margin: 0 auto;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 9px;
  height: 9px;
  margin: 3px 2px;
  border-radius: 50%;
  background-color: #47507a;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-4px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
